<div class="login-page">
    <p class="login-title">Insert email address associated with your account <br>
       and we'll send you a reset password link to get back into your account
    </p>
    <div class="form">
      <form class="login-form">
        <input type="text" #email placeholder="email"/>
        <button mat-button style="background-color: #4CAF50;color: white;width:100%"  (click)="reset_password(email)" >Reset Password</button>
        <p class="message">need login ? <a routerLink="/login">login page</a></p>
      </form>
    </div>

  </div>
