
<app-navbar></app-navbar>



<div class="d-flex align-items-center" *ngIf="loading" style="height:400px">

    <mat-spinner style="margin:0 auto" ></mat-spinner>
  
</div>

<br><br>
<div  *ngIf="!loading" class="container">
  <div class="row">

    <div class="col" style="padding-left:0">
      <img  (click)="openImageModel(data.base64,data.question)" [src]="data.base64" style="max-height: 400px;" alt="Photo of something">
      <div style="width:50px;background-color:#4CAF50;opacity: 0.4;border-bottom-right-radius: inherit;border-top-left-radius: inherit;position: absolute;margin: 0;text-align: center;padding :10px 0;left:0;top: 0px">{{data_index}}</div>
    
    </div>
    <div class="col">
      <mat-divider></mat-divider>
      <h1 style="padding-top:10px">
        {{data.question}}
      </h1> 
      <mat-card-actions>
          <button  mat-button style="background-color: #4CAF50;color: white;margin: 10px 5px" *ngFor="let ans of data.answers" (click)="answerClicked(ans)">{{ans}}</button>
      </mat-card-actions>
    </div>
  </div>
</div>



